extends navigation2

block append cssIncludes
    link(rel='stylesheet', href='/stylesheets/style_index.css')
block append jsIncludes
    script(rel='text/javascript', src='/javascripts/client_procedures.js', charset='utf-8')


block append content




