extends navigation2

block append cssIncludes
    link(rel='stylesheet', href='/stylesheets/style_index.css')
block append jsIncludes
    script(rel='text/javascript', src='/javascripts/client_procedures.js', charset='utf-8')


block append content

    div(class='container mt-5', id='welcome-card')
        div(class='row')
            div(class='col')
            div(class='col')
                div(class='card border-dark rounded', style='width: 30rem')
                    h3(class='text-center mt-3') Automatic documentation for MySQL databases
                    div(class='card-body')
                        h5(class='card-title text-center') With this tool you can do the following:
                        ul(class='')
                            li(class='') open a list of all Procedures and select a specific one
                            li(class='') open a list of all Tables and select a specific one
                            li(class='') List all Procedures
                            li(class='') List all Tables
                            li(class='') Generate a printable document of all Procedures
                            li(class='') Generate a printable document of all Tables
            div(class='col')


    div(class='container', id='containerListContent', style='display:none; ')
        div(class='row')
            div(class='col')
            div(class='col')
                p(class='text-center align-middle') This is a test
            div(class='col')

