body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


#main-header {
    background-color:indigo;
    color: white;
}

#title_div {

}

#title_div ul {
    list-style-type: none;
}

.header2 {
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    text-align:center;
    padding-bottom: 1%;
}

#back-button {

    position:absolute;
    top:15px;
    left: 2%;
    z-index: 500;

}

#btn_back {

    font-size: 1.5em;

}