/*** allg layout */
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 1em "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    min-height: 297mm;
    min-width: 210mm;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    page-break-inside: avoid;
    size: A4;
}

.headName {
    margin-right: 5px;
    font-weight: bolder;
    padding-bottom: 1%;
}

#wrapHeaderDiv {

}

.div_tbl {
    border: 0px;
    margin: 0;
    padding: 0;
}

.div_tbl_space {
    height: 15px;
}

.tblName {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 1px dotted dimgrey;
    text-align: center;
}

.tblType {
    margin-top: 5px;
    margin-left: 5px;

}

.tblComment {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    border: 2px solid grey;
    box-shadow: 2px 2px 20px black;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tblBody {

    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    border: 2px solid grey;
    box-shadow: 2px 2px 20px black;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.tblBody .headName {
    text-align: center;
    margin-left: 25%;

}

.div_tbl_header {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    border: 2px solid grey;
    box-shadow: 2px 2px 20px black;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*** column table ***/

/* the Div container */
.tblColumnList {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    border: 2px solid grey;
    box-shadow: 2px 2px 20px black;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.tblColumnList-Table {
    width: 98%;
    border-collapse: collapse;

}

.tblColumnList-Table thead {

}

.tblColumnList-Table thead th {
    text-align: center;

}

.tblColumnList-Table td {
    font-size: 0.7em;

}

.tblColumnList-Table th, .tblColumnList-Table td {
    padding: 5px;
    text-align: center;
}

.tblColumnList-Table tbody tr:nth-child(even) {
    background-color: lightgrey;
}

.tblColumnList-Table td:not(:last-child), .tblColumnList-Table th:not(:last-child) {
    border-right: 1px solid black;

}

.table-Field {

}

.table-Type {

    width: 60px;

}

.table-Collation {

}

.table-Null {

}

.table-Key {

}

.table-Default {

}

.table-Comment {

}


.headerPrint {
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1%;

}

.footerPrint {
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/** Intro Site **/

#introSite {
    width: 100%;
    height: 100%;
    position: absolute;

}

#introTitle {
    margin-top: 10%;
}

#introTitle p {
    text-align: center;
    font-size: 2em;
}

#introTitleDetails {

}

#introTitleDetails p {
    margin-left: 10%;
    margin-right: 10%;
    text-align:center;
    margin-top: 20%;
    font-size: 1.2em;
}

#introWrapper {

    position: absolute;
    bottom: 15px;
    left: 25px;

}

#introVersion {

}

#introVersion p {

}

#introAuthor {

}

#introAuthor p {

}

#introDate {

}

#introDate p {

}

#introCustomer {

}

#introCustomer p {

}
