/*** allg layout */
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 1em "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    min-height: 297mm;
    min-width: 210mm;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    page-break-inside: avoid;
    size: A4;
}

.headerPrint {
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align:center;
    padding-bottom: 1%;

}


.footerPrint {
    font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100%;
}





/*@media all {
    .page-break { display:none;}
}*/

/**** Layout of procedures ***/

/* main procedure div */

.div_SP {
    border: 0px;
    margin:0;
    padding:0;
}

.headName {
    margin-right: 5px;
    font-weight:bolder;
}

.div_SP_space {
    height: 15px;
}

.procName {
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    border: 1px dotted dimgrey;
    text-align: center;
}

.procType {
    padding-top: 5px;
    margin-left: 5px;
}

.procParams {
    margin: 5px;
}

.procReturns {
    margin-top: 5px;
    margin-left: 5px;
}

.procComment {
    width: 100%;
    margin: 0 auto;
    padding-left:15px;
    padding-right: 15px;
    border: 2px solid grey;
    box-shadow: 2px 2px 20px black;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.procBody {

    width: 100%;
    margin: 0 auto;
    padding-left:15px;
    border: 2px solid grey;
    box-shadow: 2px 2px 20px black;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em;
    display: none;
}

.procBody .headName {
    text-align:center;
    margin-left: 25%;

}

.div_SP_header {
    width: 100%;
    margin: 0 auto;
    padding-left:15px;
    padding-right: 15px;
    border: 2px solid grey;
    box-shadow: 2px 2px 20px black;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
}


/** Intro Site **/

#introSite {
    width: 100%;
    height: 100%;
    position: absolute;

}


#introTitle {
    margin-top: 10%;
}

#introTitle p {
    text-align: center;
    font-size: 2em;
}

#introTitleDetails {

}

#introTitleDetails p {
    margin-left: 10%;
    margin-right: 10%;
    text-align:center;
    margin-top: 20%;
    font-size: 1.2em;
}

#introWrapper {

    position:absolute;
    bottom: 15px;
    left: 25px;
}

#introVersion {


}

#introVersion p {

}

#introAuthor {

}

#introAuthor p{

}

#introDate {

}

#introDate p {

}

#introCustomer {

}

#introCustomer p {

}
